In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:\python codes\Smart-Kisan\\assets\Crop_recommendation.csv')

In [3]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [5]:
df['label'].value_counts()

apple          100
mango          100
kidneybeans    100
jute           100
coconut        100
watermelon     100
coffee         100
banana         100
rice           100
maize          100
blackgram      100
chickpea       100
papaya         100
cotton         100
pigeonpeas     100
muskmelon      100
mungbean       100
pomegranate    100
lentil         100
grapes         100
mothbeans      100
orange         100
Name: label, dtype: int64

# X-Y split

In [6]:
x = df.loc[:, df.columns != 'label']
type(x)

pandas.core.frame.DataFrame

In [7]:
y = df.loc[:, df.columns == 'label']
labels = df['label']

In [8]:
# labels.head()
y.head()

  label
0  rice
1  rice
2  rice
3  rice
4  rice

# train-test split

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [10]:
x_train.head()

       N    P    K  temperature   humidity        ph    rainfall
1567  27  120  200    21.452787  90.745319  6.110219  116.703658
2031  81   36   38    23.765547  87.983299  6.334838  150.316615
2073  90   59   35    24.251335  89.864541  7.098228  175.174211
1374  81   16   45    26.904357  86.254262  6.727468   59.759800
279   47   80   77    17.182484  16.428918  7.561108   72.850173

In [11]:
y_train.head()

           label
1567       apple
2031        jute
2073        jute
1374  watermelon
279     chickpea

# Standardize data

In [45]:
from sklearn.preprocessing import StandardScaler

In [46]:
sc = StandardScaler().fit(x_train)

In [47]:
x_train_std = sc.transform(x_train)

In [50]:
x_test_std = sc.transform(x_test)

In [40]:
x_train

        N    P    K  temperature   humidity        ph    rainfall
1567   27  120  200    21.452787  90.745319  6.110219  116.703658
2031   81   36   38    23.765547  87.983299  6.334838  150.316615
2073   90   59   35    24.251335  89.864541  7.098228  175.174211
1374   81   16   45    26.904357  86.254262  6.727468   59.759800
279    47   80   77    17.182484  16.428918  7.561108   72.850173
...   ...  ...  ...          ...        ...       ...         ...
1033  102   71   48    28.654563  79.286937  5.695268  102.463378
1731   34   68   51    27.347349  94.177567  6.687088   40.351531
763    35   64   15    28.474423  63.536045  6.500145   69.527441
835    39   65   23    25.434598  69.126134  7.685959   41.026829
1653   14   22    9    17.249446  91.137728  6.543192  112.509052

[1760 rows x 7 columns]

# Classification tree

In [21]:
from sklearn import svm

In [22]:
kernel_type = 'linear'
clf_svm_1 = svm.SVC(kernel = kernel_type, C = 0.1)
clf_svm_1.fit(x_train, y_train)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# prediction

In [41]:
type(x_train)

pandas.core.frame.DataFrame

In [23]:
y_train_pred = clf_svm_1.predict(x_train)
y_test_pred = clf_svm_1.predict(x_test)

In [47]:
y_test_pred.most_common()

AttributeError: 'numpy.ndarray' object has no attribute 'most_common'

# Performance

In [17]:
from sklearn.metrics import accuracy_score, confusion_matrix
import math

In [ ]:
confusion_matrix(y_test, y_test_pred)

In [25]:
accuracy_score(y_test, y_test_pred)

0.9840909090909091

In [26]:
clf_svm_1.n_support_

array([ 5, 17, 22, 17, 12, 11, 13,  8, 28, 23, 22, 24, 18, 22, 19,  9, 21,
       22, 19, 16, 22, 13])

# Grid Search

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
param_C_list_1 = [0.001, 0.005, 0.01, 0.05, 0.1,0.2,0.5,1]
param_C_list_1

[0.001, 0.005, 0.01, 0.05, 0.1, 0.2, 0.5, 1]

In [29]:
params = {'C': param_C_list_1}

In [30]:
clf_svm_1 = svm.SVC(kernel='linear')

In [31]:
svm_grid_lin = GridSearchCV(clf_svm_1,params, n_jobs = -1,
                            cv = 32, verbose=1,scoring='accuracy')

In [33]:
svm_grid_lin.fit(x_train, y_train)

Fitting 32 folds for each of 8 candidates, totalling 256 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    1.9s
[Parallel(n_jobs=-1)]: Done 225 out of 256 | elapsed:    2.3s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 256 out of 256 | elapsed:    2.4s finished
c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=32, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [0.001, 0.005, 0.01, 0.05, 0.1, 0.2, 0.5, 1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=1)

In [34]:
svm_grid_lin.best_params_

{'C': 0.1}

In [35]:
linsvm_clf = svm_grid_lin.best_estimator_

In [37]:
accuracy_score(y_test, linsvm_clf.predict(x_test))

0.9840909090909091

In [38]:
linsvm_clf.n_support_

array([ 5, 17, 22, 17, 12, 11, 13,  8, 28, 23, 22, 24, 18, 22, 19,  9, 21,
       22, 19, 16, 22, 13])